<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, tr, td{
            border: 1px solid dodgerblue;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="{% url 'services' %}">Services</a>


    <br>
    <br>
    <br>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>